/*  Styling file */

/* Main title styling */
#main-title{

    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #222;
    letter-spacing: 3px;
    margin-top: 50px;
    font-family: 'Times New Roman';

}